#footer {
  color: var(--text-color);
  font-size: 14px;
  background: var(--white-color);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: var(--section-bg-color);
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info .footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#footer .footer-top .footer-info .footer-logo img {
  max-height: 40px;
  margin-right: 10px;
}

#footer .footer-top .footer-info .footer-logo span {
  font-size: 22px;
  font-weight: 600;
  color: var(--dark-text-color);
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgb(38, 160, 38);
  color: var(--white-color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--secondary-color);
  color: var(--white-color);
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-text-color);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: rgb(38, 160, 38);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--text-color);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: rgb(38, 160, 38);
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: var(--white-color);
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgb(38, 160, 38);
  color: var(--white-color);
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: var(--secondary-color);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}