@import "compass/css3";


hr {
    height: 1px;
    background: black;
    border: none;
    outline: none;
    margin: 3em 3em 5em;
    position: relative;
    
    &:before {
      
      content: attr(data-symbol);
      position: absolute;
      top: 0;
      left: 50%;
      background: black;
      color: black;
      padding: 0.5em 3em;
      @include transform(translate(-50%, -50%));
      
    }
  }

  hr #nine {
  
    &:before {
      border: 1px solid black;
      padding: 1em 1.25em;
      border-radius: 50%;
    }
  }
  
